*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    width:100%;
    overflow-x: hidden;
    
}



.container {
  width: 100%;  /* Ensure the container is 100% of the viewport width */
  max-width: 100%;
}


img{
    border-radius: 175px;
    border-color: black;
}

.heading{
    width: 100%;
    justify-content: center;
}

.carded {
    border: 2px solid #ff5733; /* Border with 2px thickness, solid style, and color #ff5733 */
    padding: 20px; /* Add padding inside the card */
    margin: 10px; /* Optional: space outside the card */
  }

  .content {
    padding-top: 70px;
  }
  
.click{
     color: gray;
     text-decoration: none;
}

.click:hover{
    color: white;
}


.sm{
    padding: 5px;
    display: inline;
}

